.mail{
  max-width: 1351px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.fLists{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  width: 1024px;
}
.fList{
  list-style: none;
  padding: 0;
}
.fListItem{
  margin-bottom: 10px;
  color: aliceblue;
  cursor: pointer;
}
.footerbg{
  font-size: 12px;
  width: 100%;
  max-width: 1351px;
  display: flex;
  flex-direction: column;
  background-color: #003580;

}
 .fText{
  background-color: aliceblue;
}