.navbar{
  height: 30px;
  padding-top: 15px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton, Link{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
}
.middle img{
  height: 25px;
  width: 25px;
  border-radius: 50px;
}
.middle{
  display:flex ;
  justify-content: center;
  padding: 3px;
}
